.logoSmall {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  margin-bottom: 15px;
}
.navIcons {
  display: flex;
  position: relative;
}
.navIconsDetails {
  position: absolute;
  top: 35px;
}
